@import "/resources/catppuccin-theme.css";

html {
  --page-background: var(--ctp-frappe-base);
  --page-text: var(--ctp-frappe-text);
  --input-background: var(--ctp-frappe-surface1);
}

body, html {
  padding: 0;
  margin: 0;
  background: var(--page-background);
  color: var(--page-text);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.selector, .status, .leftPanel, .rightPanel {
  padding: 16px;
  border-bottom: solid 1px var(--ctp-frappe-surface0);
}

.status {
  border-bottom: none;
}

.selector {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.selector h1 {
  margin: 0;
  font-size: 18px;
  flex: 1;
}

.selector label {
  margin-right: 8px;
}

select {
  background: var(--ctp-latte-surface1);
  color: black;
  border: none;
  border-radius: 4px;
  padding: 4px;
}

textarea {
  background: var(--input-background);
  border: none;
  color: var(--page-text);
  padding: 8px;
}

p {
  margin: 0;
  margin-bottom: 8px;
}

.status p {
  margin-bottom: 0;
}

.rightPanel pre {
  margin: 0;
}

.leftPanel p:not(:first-child), .leftPanel button {
  margin-top: 16px;
}

.error {
  color: var(--ctp-frappe-red);
}

.success {
  color: var(--ctp-frappe-blue);
}

.layout {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.centerSplit {
  flex: 1;
  display: flex;
  flex-direction: row;
  min-height: 1px;
}

.leftPanel, .rightPanel {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.rightPanel pre {
  flex: 1;
  overflow-y: scroll;
  overflow-x: hidden;
  white-space: pre-wrap;
}

.leftPanel textArea, button.run-wasm, .rightPanel pre {
  min-height: 35px;
  border: none;
  border-radius: 8px;
}

button.run-wasm {
  min-height: 16px;
  padding: 8px 16px;
  margin-left: 16px;
  background: var(--ctp-frappe-lavender);
}

.leftPanel .input {
  flex: 1;
}

@media (max-width: 600px) {
  .centerSplit {
    flex-direction: column;
    max-height: 100vh;
    overflow: scroll;
  }

  .rightPanel {
    overflow: hidden;
  }
}
